<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="localeCountry" value="en"/>
    <property name="localeLanguage" value="GB"/>
    <module name="SeverityMatchFilter">
        <property name="severity" value="info"/>
        <property name="acceptOnMatch" value="false"/>
    </module>

    <module name="FileLength">
        <property name="max" value="1000"/>
    </module>

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="SuppressWarningsFilter"/>


    <module name="LineLength">
        <property name="max" value="200"/>
        <property name="ignorePattern" value="^[ \t]*\*.*@.*$"/>
    </module>

    <module name="TreeWalker">
        <property name="tabWidth" value="4"/>
        <property name="severity" value="error"/>

        <module name="ConstantName"/>

        <module name="LocalFinalVariableName"/>

        <module name="SuppressWarningsHolder"/>

        <module name="LocalVariableName"/>

        <module name="MemberName">
            <property name="format" value="^[a-z][a-zA-Z0-9_]*$"/>
        </module>

        <module name="MethodName"/>

        <module name="PackageName"/>

        <module name="ParameterName"/>

        <module name="StaticVariableName"/>

        <module name="TypeName"/>

        <module name="RedundantImport"/>

        <module name="UnusedImports"/>

        <module name="MethodLength">
            <property name="max" value="200"/>
        </module>

        <module name="AnonInnerLength">
            <property name="max" value="50"/>
        </module>

        <module name="EmptyForInitializerPad"/>

        <module name="MethodParamPad"/>

        <module name="NoWhitespaceAfter">
            <property name="tokens" value="BNOT, DEC, INC, LNOT, UNARY_MINUS, UNARY_PLUS"/>
        </module>

        <module name="NoWhitespaceBefore"/>

        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA, SEMI"/>
        </module>

        <module name="WhitespaceAround">
            <!-- , EQUAL, LT, GT, LE, GE -->
            <property name="tokens" value="ASSIGN, EQUAL, LT, GT, LE, GE"/>
            <property name="allowEmptyConstructors" value="true"/>
            <property name="allowEmptyMethods" value="true"/>
        </module>

        <module name="OperatorWrap">
            <property name="tokens" value="BAND, BOR, BSR, BXOR, DIV, EQUAL, GE, GT, LAND, LE, LITERAL_INSTANCEOF, LOR, LT, MINUS, MOD, NOT_EQUAL, PLUS, SL, SR, STAR"/>
            <property name="option" value="eol"/>
        </module>

        <module name="ParenPad"/>

        <module name="TypecastParenPad"/>

        <module name="ModifierOrder"/>

        <module name="RedundantModifier">
            <property name="tokens" value="METHOD_DEF, VARIABLE_DEF, INTERFACE_DEF, CLASS_DEF, ENUM_DEF"/>
        </module>

        <module name="AvoidNestedBlocks">
            <property name="allowInSwitchCase" value="true"/>
        </module>

        <module name="AvoidStarImport"/>

        <module name="NestedTryDepth">
            <property name="max" value="2"/>
        </module>

        <module name="EmptyBlock">
            <property name="option" value="text"/>
            <property name="tokens" value="LITERAL_CATCH, LITERAL_WHILE"/>
        </module>

        <module name="CovariantEquals"/>

        <module name="LeftCurly">
            <property name="option" value="nl"/>
            <property name="tokens" value="INTERFACE_DEF, CLASS_DEF, ANNOTATION_DEF, ENUM_DEF, CTOR_DEF, METHOD_DEF, ENUM_CONSTANT_DEF, LITERAL_WHILE, LITERAL_TRY, LITERAL_CATCH, LITERAL_FINALLY, LITERAL_SYNCHRONIZED, LITERAL_SWITCH, LITERAL_DO, LITERAL_IF, LITERAL_ELSE, LITERAL_FOR, STATIC_INIT, OBJBLOCK"/>
        </module>

        <module name="NeedBraces"/>

        <module name="RightCurly">
            <property name="option" value="alone"/>
        </module>

        <module name="EmptyStatement"/>

        <module name="EqualsHashCode"/>

        <module name="ThrowsCount">
            <property name="max" value="5"/>
        </module>

        <module name="SimplifyBooleanExpression"/>

        <module name="SimplifyBooleanReturn"/>

        <module name="StringLiteralEquality"/>

        <module name="PackageDeclaration"/>

        <module name="ParameterAssignment"/>

        <module name="FallThrough"/>

        <module name="FinalClass"/>

        <module name="MutableException"/>

        <module name="ArrayTypeStyle"/>

        <module name="TodoComment">
            <property name="severity" value="info"/>
            <property name="format" value="TODO"/>
        </module>

        <module name="UpperEll"/>

        <module name="IllegalType">
            <property name="legalAbstractClassNames"
                      value="AbstractExecutionReport, AbstractBeanDefinition, AbstractInstruction, AbstractSingleOrder, AbstractPositionTrackingOrder, AbstractHttpRequest, AbstractHttpResponse, AbstractExecution"/>
            <property name="illegalClassNames"
                      value="java.util.GregorianCalendar, java.util.Hashtable, java.util.HashSet, java.util.HashMap, java.util.ArrayList, java.util.LinkedHashSet, java.util.TreeSet, java.util.TreeMap, java.util.Vector"/>
        </module>

    </module>

    <module name="RegexpSingleline">
        <property name="format" value="[a-zA-Z]+=[“”]"/>
        <property name="message" value="Smart quotes used on HTML attribute"/>
    </module>

</module>
